.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    font: 500 1.125rem/133% var(--font-family);
    color: var(--w);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, #ff4343 0%, #600 100%);
    border-radius: 6px;
    text-transform: uppercase;
    max-width: max-content;
}

.botao:hover {
    background: linear-gradient(180deg, #a00f0f 0%, #440202 100%);
}

.botao.secundario {
    background: linear-gradient(180deg, #737373 0%, #242424 100%);
}

.botao.secundario:hover {
    background: linear-gradient(180deg, #363636 0%, #535353 100%);
}

.botao.terciario {
    background: linear-gradient(180deg, #cc0000 0%, #ff4343 100%);
}

.botao.terciario:hover {
    background: linear-gradient(180deg, #cc0000 0%, #0d0000 100%);
}

@media (min-width: 801px) and (max-width: 946px) {
    .botao {
        font-size: 12px;
    }
}

.link {
    display: inline-block;
    color: var(--p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.link:hover {
    color: var(--c5);
}

/* TÍTULOS PÁGINAS INTERNAS */
.titulo-bg {
    background: var(--c11);
    padding-top: 60px;
    padding-bottom: 32px;
}

.titulo p {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .titulo-bg {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .titulo p {
        font-size: 0.8rem;
    }

    .titulo h1 {
        font-size: 2rem;
    }
}