:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Roboto Mono", sans-serif;
    --font3: "Merriweather", sans-serif;
}

.texto-grande {
    font: 600 3.125rem/75% var(--font-family);
}

.texto-medio {
    font: 400 1rem/160% var(--second-family);
}

.titulo-produtos {
    color: var(--c12);
    font: 500 1.6rem/150% var(--font-family);
}

.descricao-produtos {
    color: var(--c8);
    font: 500 0.8rem var(--font-family);
}

.descricao-produtos strong {
    color: var(--p1);
    font: 800 1.2rem/89% var(--font-family);
}

.texto-topo-tec {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font: 500 1.25rem/160% var(--second-family);
}

.titulo-sustentavel {
    letter-spacing: 0.05em;
    color: var(--w);
    font: 500 1.5rem/150% var(--second-family);
}

.p-sustentavel {
    color: var(--c4);
    font: 400 0.9rem/150% var(--second-family);
}

.texto-depoimento {
    font: italic 900 2.5rem/133% var(--font3);
    color: var(--p5);
}

.assinatura-depoimento {
    font: 700 1.5rem/200% var(--font-family);
    color: var(--p4);
}

.seguros-titulo {
    text-transform: uppercase;
    font: 700 2rem/133% var(--font-family);
    color: var(--c6);
    letter-spacing: 0.09rem;
}

.seguros-preco {
    font: 600 2rem/133% var(--font-family);
    color: var(--w);
    position: relative;
}

.seguros-mensal {
    color: var(--c6);
    font: 600 0.8rem/300% var(--font-family);
    position: absolute;
    top: 28px;
    right: 0;
}

.lista-seguros {
    color: var(--w);
    font: 600 1.125rem/170% var(--font-family);
}

.titulo-footer {
    text-transform: uppercase;
    color: var(--w);
    font: 500 2rem/133% var(--second-family);
}

.informacoes-footer {
    color: var(--c6);
    font: 500 1rem/133% var(--second-family);
}

.copyright {
    color: var(--c6);
    font: 500 0.8rem/133% var(--second-family);
    text-transform: uppercase;
}

.titulo-acima {
    color: var(--c6);
    font: 600 1rem/160% var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.09em;
}

.titulo-politicas {
    color: var(--c11);
    font: 600 1.7rem/100% var(--font-family);
}

.texto-politica {
    color: var(--c10);
    font: 400 1.1rem/133% var(--second-family);
}

.preco-shapes {
    color: var(--p1);
    font: 600 1.4rem/100% var(--second-family);
}

.descricao-shapes {
    color: var(--c11);
    font: 700 1.6rem/150% var(--font-family);
}

.texto-shapes {
    color: var(--c8);
    font: 400 1.1rem/117% var(--second-family);
}

.titulo-lista {
    font: 500 1rem/133% var(--font-family);
}

.titulo-vantagens {
    color: var(--c1);
    font: 500 1.6rem/100% var(--font-family);
}

.texto-vantagens {
    color: var(--c5);
    font: 500 0.9rem/133% var(--font-family);
}

.texto-acima-vantagens {
    color: var(--c5);
    font: 500 0.6rem/267% var(--font-family);
}

.titulo-perguntas {
    font: 600 1.1rem/133% var(--font-family);
}

.respostas {
    color: var(--c10);
    font: 400 0.9rem/133% var(--second-family);
}

.titulo-shapes {
    font: 600 2.5rem/75% var(--font-family);
}

.valor-shapes {
    font: 700 1.8rem/160% var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.descricao-shape {
    font: 400 1.3rem/133% var(--second-family);
}

.titulo-ficha {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font: 500 1.4rem/133% var(--font-family);
}

.lista-ficha {
    font: 600 0.9rem/200% var(--font-family);
}

.titulo-opcoes {
    font: 600 2rem/100% var(--font-family);
}

.propaganda-titulo-seguro {
    color: var(--p3);
    font: 600 5rem/33% var(--font-family);
}

.descricao-propaganda {
    font: 400 1rem/120% var(--second-family);
}

@media (max-width: 1200px) {
    .introducao h1 {
        font-size: 2.5rem;
    }

    .introducao p {
        font-size: 1.125rem;
    }
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 3rem;
    }

    .introducao p {
        font-size: 1rem;
    }

    .shapes-lista h1 {
        font-size: 3rem;
    }

    .titulo-footer {
        font-size: 1.5rem;
    }

    .lista-ficha {
        font-size: 0.7rem;
    }
}

@media (min-width: 801px) and (max-width: 946px) {
    .introducao h1 {
        font-size: 2rem;
    }

    .introducao p {
        font-size: 0.875rem;
    }

    .introducao a {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .header-menu a {
        font-size: 0.875rem;
    }

    .sustentavel h1 {
        font-size: 2.2rem;
    }

    .titulo-sustentavel {
        font-size: 1.2rem;
    }

    .p-sustentavel {
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .sustentavel-conteudo {
        padding: 20px;
    }

    .sustentavel a {
        font-size: 0.9rem;
    }

    .lista-seguros {
        font-size: 0.8rem;
    }
}