.shapes-lista {
    padding-top: 60px;
    padding-bottom: 120px;
}

.shapes-lista h1 {
    margin-bottom: 80px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 120px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.shapes-lista ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.shapes-lista li {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    box-sizing: border-box;
}

.shapes-lista a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.shapes-lista img {
    width: 100%;
    height: auto;
    max-width: 455px;
    margin-bottom: 32px;
    margin-top: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.shapes-lista h3 {
    margin-left: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.shapes-lista h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 16px;
    margin-right: 8px;
    background: linear-gradient(90deg, #ff4343 0%, #600 100%);
    transition: width 0.2s;
}

.shapes-lista a:hover h3::before {
    width: 32px;
}

.shapes-lista li span {
    display: block;
    text-align: center;
}

@media (max-width: 925px) {
    .shapes-lista h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .shapes-lista h1 {
        padding-left: 20px;
    }
    
    .shapes-lista ul {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 0;
        gap: 20px;
        box-sizing: border-box;
        justify-content: start;
    }

    .shapes-lista li {
        flex: 0 0 auto;
        width: 280px;
        box-sizing: border-box;
    }

    .shapes-lista span {
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .shapes-lista li {
        width: 100%;
    }
}
