.perguntas {
    padding-top: 120px;
    padding-bottom: 120px;
}

.perguntas h1 {
    margin-bottom: 60px;
}

.perguntas dl>div {
    padding: 20px;
    border-radius: 24px;
}

.perguntas dl>div:nth-child(odd) {
    background-color: var(--c3);
}

.perguntas button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    background: none;
    text-align: start;
}

.perguntas button::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background: linear-gradient(90deg, #ff4343 0%, #600 100%);
}

.perguntas button::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 20px;
    background: url(../../Icones/Skate/seta.svg);
    background-repeat: no-repeat;
    transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.perguntas dd {
    display: none;
}

.perguntas dd.ativa {
    display: block;
}

.perguntas dd {
    padding-left: 28px;
    padding-top: 16px;
    max-width: 120ch;
}

@media (max-width: 800px) {
    .perguntas {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .perguntas h1 {
        margin-bottom: 40px;
        font-size: 2rem;
    }
}