.seguros-bg {
    background: linear-gradient(to right, var(--c12) 0%, var(--c8) 100%);
}

.seguros-page {
    background: linear-gradient(to right, var(--c12) 0%, var(--c8) 100%);
}

#seguros .seguros {
    padding-top: 0;
}

#seguros .titulo-bg {
    background: linear-gradient(to right, var(--c12) 0%, var(--c8) 100%);
}

.seguros {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.seguros h1 {
    color: var(--w);
    grid-column: 1/-1;
}

.seguros-item {
    background: linear-gradient(360deg, #000 0%, #404040 100%);
    padding: 32px 32px 32px 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 6px;
}

.seguros-item:nth-child(3) {
    background: linear-gradient(to right, #ffd700 0%, #f19a27 100%);
}

.seguros-page .seguros-item:nth-child(2) {
    background: linear-gradient(to right, #ffd700 0%, #f19a27 100%);
}

.seguros-item h3 {
    margin-bottom: 40px;
}

.seguros-item span {
    grid-column: 2;
    display: block;
    text-align: end;
}

.seguros-item ul {
    grid-column: 1/-1;
    margin-bottom: 32px;
}

.seguros-item li {
    display: flex;
    align-items: center;
    position: relative;
}

.seguros-item li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../../Icones/Skate/Lista.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -24px;
}

.seguros-item a {
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }

    .seguros-item {
        padding: 32px;
    }
}