#orcamento {
    background: linear-gradient(var(--c11) 600px, var(--c2) 0);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.orcamento h2 {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font: 800 0.9rem/67% var(--font-family);
    color: var(--c3);
    position: relative;
    display: flex;
    align-items: center;
}

.orcamento-produto h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--p1);
    position: absolute;
    left: -12px;
}

.orcamento h3 {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c5);
    font: 800 0.9rem/67% var(--font-family);
    position: relative;
    display: flex;
    align-items: center;
}

.orcamento h3::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--p1);
    position: absolute;
    left: -12px;
}

.orcamento-produto,
.orcamento-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
    border-radius: 5px 0 0 5px;
    background: var(--c12) url(../../blooms-arquivos/imagens/decorador/bot-left-p5-60x60.svg) no-repeat bottom 20px left 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.orcamento-produto>* {
    grid-column: 1/-1;
}

.orcamento-produto>label {
    grid-column: initial;
}

.orcamento-produto label {
    font: 700 0.8rem/133% var(--font-family);
    color: var(--c6);
    background-color: var(--c10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--c10);
}

.orcamento-produto input:checked+label {
    background: var(--w);
    color: var(--c12);
    font: 700 0.8rem/133% var(--font-family);
}

.orcamento-produto label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--c6);
    border-radius: 50%;
    margin-right: 8px;
}

.orcamento-produto input:checked+label::before {
    border-color: var(--c7);
    box-shadow: inset 0 0 0 3px var(--w), inset 0 0 0 6px var(--c7);
}

.orcamento-produto label:hover {
    background-color: var(--c9);
    border-color: var(--c9);
}

.orcamento-produto input:focus+label {
    box-shadow: 0 0 0 2px var(--p1);
    border-color: var(--c12);
}

.orcamento-produto input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.orcamento-dados {
    border-radius: 0 5px 5px 0;
    background: var(--w) url(../../blooms-arquivos/imagens/decorador/bot-right-c3-60x60.svg) no-repeat bottom 20px right 20px;
}

.orcamento-conteudo {
    display: none;
}

.orcamento-conteudo h3,
.orcamento-dados h3:nth-of-type(n + 2) {
    margin-top: 20px;
}

#blooms:checked~#orcamento-blooms,
#seguro:checked~#orcamento-seguro {
    display: grid;
    gap: 20px;
}

.orcamento-detalhes {
    display: none;
    background: var(--w);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;
    position: relative;
}

.orcamento-detalhes .preco-shapes {
    font-size: 0.8rem;
}

.imagem-container {
    position: relative;
    margin-bottom: 20px;
}

.imagem-container span {
    background: var(--c12);
    border-radius: 0 6px 6px 0;
    padding: 8px;
    position: absolute;
    display: inline-block;
    box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.973);
    bottom: 8px;
}

.produto-imagem {
    width: 90%;
    height: auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.973);
}

.orcamento-detalhes ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.orcamento-detalhes li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: var(--p5);
    font: 500 0.8rem/100% var(--font-family);
}

.orcamento-detalhes li img {
    width: 16px;
    margin-right: 8px;
}

.orcamento-produto input:checked+label+.orcamento-detalhes {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.termos-condicoes {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font: 700 0.8rem/133% var(--font-family);
    color: var(--c6);
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 20px;
    cursor: pointer;
    transform: scale(2.5);
}

input[type="radio"]#blooms+label,
input[type="radio"]#seguro+label {
    font-size: 0.7rem;
}

@media (max-width: 1200px) {
    .orcamento-produto,
    .orcamento-dados {
        padding: 32px;
    }
}

@media (max-width: 800px) {
    .orcamento {
        grid-template-columns: 1fr;
    }

    .orcamento-produto {
        border-radius: 5px 5px 0 0;
    }

    .orcamento-dados {
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width: 400px) {
    .orcamento-produto {
        grid-template-columns: 1fr;
    }
}